.Rcbox1{
    display: flex;
    width: 100%;
    height:100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(66, 66, 66, 0.763);

}
.Rci{
    width: 25rem;
    height: 3rem;
    color: black;
    border-width: .3rem;
    border-color: aliceblue;
    transition: all .3s ease;
}

.Rcnamebox{
    font-size: 3rem;
    margin: 1rem;
}
.Rcbox2{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.285);
    padding: 4rem;
    gap: 2rem;
}

.Rci:hover{
    scale: 1.5;
    border-color: rgb(0, 0, 0);
}
.RegiterBut{
    width: 25rem;
    height: 3.5rem;
    margin: .5rem;
    transition: all .3s ease;
}
.RegiterBut:hover{
    background-color: black;
    color: white;
    scale: 1.1;

    }